# Azure MSAL Configuration
VITE_AZURE_CLIENT_ID=client-id-here
VITE_AZURE_AUTHORITY=https://login.microsoftonline.com/tenant-id-here
VITE_REDIRECT_URI=http://localhost:3000
VITE_REDIRECT_LOGOUT_URI=http://localhost:3000
VITE_API_SCOPE=:api://api-client-id/access_as_user

VITE_API_BASE_URL=https://localhost:8080